<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @estate.name %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @estate.rent %>
</p>

<p>
  <strong>Address:</strong>
  <%= @estate.address %>
</p>

<p>
  <strong>Age:</strong>
  <%= @estate.age %>
</p>

<p>
  <strong>Note:</strong>
  <%= @estate.note %>
</p>

<%= link_to 'Edit', edit_estate_path(@estate) %> |
<%= link_to 'Back', estates_path %>
